@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #232C50;
}
body{
  background-image: url(../img/bg-tablet-pattern.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -50px;
  background-position-x: 60px;
}

h2{
  font-size: 2rem;
}
header, .coments, footer{
  padding: 0 1rem;
}

.bg-tablet{
  overflow: hidden;
}
.bg-tablet img{
  position: absolute;
  width: 450px;
  z-index: -10000;
}
.bg-top img{
  top: 0;
  right: 0;
  left: 0;
}
.bg-mid img{
  top: 330px;
  left: 230px;
  /* width: 600px; */
}

header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* position: sticky; */
  top: 0;
  /* background-color: #fff0ece3; */
  z-index: 1;
}
header .menu{
  font-size: 2rem;
}
header .btn-menu, header ul{
  display: none;
}

main{
  text-align: center;

  background-image: url(../img/bg-tablet-pattern.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 400px;
  background-position-x: 250px;
}
main .statistics{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .img-statistics{
  padding: 0 1rem;
}
main .statistics .img-statistics img{
  width: 100%;
}
main .get-started{
  text-align: center;
  padding-bottom: 6rem;
}
main .get-started p, main .about p{
  margin: 2rem 0;
  color: #B3B2B7;
}
main .get-started p, main .get-started h2{
  padding: 0 1rem;
}

.btn-getStarted{
  background-color: #F3603B;
  color: #fff;
  margin: 2rem 0;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: -1px 4px 8px 1px #ffc9bb;
  transition: all ease .5s;
}
.btn-getStarted:hover {
  background-color:#fc947a;
  transform: translate(-5px, -5px);
}
section:last-child button:hover{
  background-color: #fff;
  color: #fc947a;
  transform: translate(-5px, -5px);
}
footer form button:hover{
  background-color: #fc947a;
}
main .get-started h2{
  margin: 1rem 0;
}


/* .about>:nth-child(2), .about h2{
  text-align: center;
  padding: 0 2rem 1rem 2rem;
} */
.about p{
  margin: 1rem;
  text-align: start;
  padding: 0 .5rem;
}
.about article .title{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .about article .number{
  background-color: #F3603B;
  color: #fff;
  font-weight: bold;
  padding: .5rem 1.5rem;
  border-radius: 50px;
  position: relative;
  left: 1rem;
} */
.list-cards article{
  margin: 1rem 0;
}
.about article h3{
  background-color: #FFF0EB;
  padding: 0.5rem 0 .5rem 5rem;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  border-radius: 50px 0 0 50px;
  position: relative;
  margin-left: 1rem;
  text-align: start;
}
.title h3::before{
  background-color: #f3603b;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem 1.5rem;
  border-radius: 50px;
  margin-right: 1rem;
  color: #fff;
}
.title .n1::before{
  content: '01';
}
.title .n2::before{
  content: '02';
}
.title .n3::before{
  content: '03';
}

.coments h2{
  margin: 2rem 0;
}
.coment{
  display: none;
  background-color: #f9f8f8;
  position: relative;
  margin-top: 6rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.coment h4{
  margin: 1rem 0;
}
.card-active{
  display: block;
}
.coment img{
  position: absolute;
  left: calc(50% - 72px);
  top: -72px;
}

.coments .slider i{
  color: #f3603b;
  font-size: .5rem;
}

.coments .slider .active{
  background-color: #f3603b;
  border-radius: 50%;
}

section:last-child{
  background-color: #F3603B;
  color: #fff;
  padding: 5rem 1rem;
  font-weight: bold;
}
section:last-child h2{
  color: #fff;
}
section:last-child button{
  background-color: #fff;
  color: #F3603B;
  box-shadow: initial;
}

footer{
  background-color: #1E1E26;
  padding: 1rem;
  text-align: center;
}

footer form{
  padding: 2rem 1rem;
}
form .email-form{
  display: flex;
}
form p{
  display: none;
}
footer form input{
  width: 100%;
  margin-right: .5rem;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
}
footer form button{
  border: none;
  border-radius: 2rem;
  background-color: #F3603B;
  color: #fff;
  padding: 1rem 2rem;
  font-weight: bold;
}

footer ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  height: 165px;
  margin: 1rem 0;

}
footer ul li{
  color: #fff;
  list-style: none;
  margin: 0 1rem 1rem 1rem;
  cursor: pointer;
}
footer ul li:hover{
  color: #fc947a;
}
footer .first-li, footer .second-li{
  text-align: start;
}

footer .social{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
footer .social i{
  color: #fff;
  font-size: 2rem;
  margin: 1rem;
}
footer .social i:hover{
  color: #F3603B;
}

footer .logo-footer{
  margin: 1rem;
}
footer .logo-footer p{
  color: #8C8C94;
  margin-top: 3rem;
}



/* @media screen and (min-width:376px) {
  body{
    background-color: grey;
  }
} */
@media screen and (min-width:768px) {
  body{
    background-position-y: -110px;
    background-position-x: 110%;
    background-size: 50%;
  }
  .bg-tablet img{
    position: absolute;
    width: 450px;
    z-index: -10000;
  }
  .bg-top img{
    top: 0;
    right: 0;
    left: 0;
  }
  .bg-mid img{
    bottom: 23%;
    left: -430px;
    width: 600px;
  }
  header{
    padding: 1rem 6%;
  }

  nav{
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  nav ul{
    display: flex;
  }
  nav ul li{
    list-style: none;
    margin: 0rem .5rem;
  }
  nav ul li:hover{
    color: #B3B2B7;
    cursor: pointer;
  }
  header .menu{
    display: none;
  }
  header .btn-menu{
    display: block;
  }

  main{
    background-position-y: 70%;
    background-position-x: -60%;
    background-size: 50%;
  }
  main .statistics{
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .get-started, .img-statistics{
    width: 50%;
  }
  section{
    padding: 0 6%;
  }
  main .get-started{
    text-align: start;
    padding-bottom: 0;
  }
  main .get-started h2,  main .get-started p, .about article h2, .about article p{
    text-align: start;
    margin: 0;
    padding: 0 6rem 0 0;
  }
  main .get-started h2{
    font-size: 3rem;
  }
  main .get-started p, main .about p{
    margin: 2rem 0;
    /* padding: 0; */
    width: 70%;
  }
  main .about{
    display: flex;
  }
  main .list-cards p{
    width: inherit;
    margin-left: 6rem;
    padding: 0;
    margin-top: .5rem;
  }

  .about article .number{
    position: inherit;
    margin-left: 1rem;
  }
  .about article h3{
    background-color: inherit;
    text-align: start;
    padding: 0.5rem 0 .5rem 5rem;
  }

  .coments .container-coments{
    padding: 0 6%;
    display: flex;
  }
  .coment{
    display: block;
    margin: 5rem 1rem 1rem;
  }
  .coment p{
    padding: 1rem;
  }
  .coments .slider{
    display: none;
  }

  section:last-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 6%;
    margin-top: 8rem;
  }
  section:last-child h2{
    width: 30%;
    text-align: start;
  }

  footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1rem 6%;
  }
  form{
    flex-direction: column;
    margin: 1rem 0;
  }
  form p{
    display: block;
    color: #B3B2B7;
  }
  footer ul{
    width: 45%;
    justify-content: center;
  }
  footer form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
  footer .logo-footer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer .logo-footer p{
    display: none;
  }
  footer .social{
    margin: 0;
  }
  footer .social i{
    font-size: 1.5rem;
    margin: .5rem;
  }
}





.fadeInDown{
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  will-change: fadeInDown;
}
@keyframes fadeInDown {
  from{
    opacity: 0;
    transform: translate3d(0,-100%,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.fadeIn{
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  will-change: transform;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.fadeInUp{
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  will-change: fadeInUp;
}
@keyframes fadeInUp {
  from{
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}