<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/form.css">
  <title>Envío exitoso</title>
</head>
<body>
  <h1>En breve nos comunicaremos contigo!</h1>
  <figure>
    <img src="https://i.giphy.com/media/59yDtdelUSyEAQ9Nfa/giphy.webp" alt="">
  </figure>
  <a href="../index.html">
    <button>HOME</button>
  </a>
</body>
</html>